<?xml version=”1.0” encoding=”UTF-8”?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    
	<bean id="current_partner" class="simpipe.coolstreaming.RandomPartnership" />
	<bean id="current_member" class="simpipe.coolstreaming.RandomMembership" />
	<bean id="current_scheduler" class="simpipe.coolstreaming.RandomScheduler" />    

	<bean id="app_bean" class="simpipe.coolstreaming.Package">
		<property name="partners" ref="current_partner" />
		<property name="members" ref="current_member"/>
		<property name="scheduler" ref="current_scheduler"/>
	</bean>

</beans>
